{% ckan_extends %}

{% import 'macros/layout.html' as layout %}

{% block pre_primary %}
  {% snippet 'package/snippets/dataset_state_banner.html', pkg=pkg %}
{% endblock pre_primary %}

{% block content_action %}
  {% if h.check_access('package_update', {'id':pkg.id }) %}
    <a class="btn btn-secondary"
       href="{{ h.url_for(dataset_type ~ '.edit', id=pkg.name) }}">{{ _('Edit ' + dataset_type) }}</a>
  {% endif %}
{% endblock content_action %}

{% block secondary_content %}
  {% block package_tags %}
    {{ layout.moduleBoxHeader(_('Keywords') ) }}
    {% snippet 'package/snippets/tags.html', tags=pkg.get('keywords', {}), field='keywords', pkg=pkg %}
    {{ layout.moduleBoxFooter() }}
  {% endblock package_tags %}

  {% block categories %}
    {{ layout.moduleBoxHeader(_('Categories') ) }}
    {% snippet 'package/snippets/categories.html', categories=pkg.get('groups', {}), pkg=pkg %}
    {{ layout.moduleBoxFooter() }}
  {% endblock categories %}

  {% block package_license %}
    {{ super() }}
  {% endblock package_license %}

  {% block package_social %}
  {% endblock package_social %}

  {% block stats %}
    {# TODO: Add matomo stats snippet from ckanext-matomo here when it is introduced #}
  {% endblock %}
{% endblock secondary_content %}

{% block primary_content_inner %}
  {% block package_description %}
    <h1>
      {% block page_heading %}{{ h.dataset_display_name(pkg) }}{% endblock %}
    </h1>
    {% block package_notes %}{{ super() }}{% endblock %}
  {% endblock %}

  <div class="row">
    <section class="main-content">
      {% block package_resources %}
        {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources,
        can_edit=h.check_access('package_update', {'id':pkg.id }) %}
      {% endblock %}
      {% block package_additional_info %}
        {% snippet "package/snippets/additional_info.html", pkg_dict=pkg %}
      {% endblock %}
    </section>
  </div>
{% endblock %}
