{% ckan_extends %}

{% block pre_primary %}
  <div class="admin-banner">
    {% block resource_actions_inner %}
      {% block action_manage %}
        {% if h.check_access('package_update', {'id':pkg.id }) %}
          {% link_for _('Manage'), named_route=pkg.type ~ '_resource.edit', id=pkg.name, resource_id=res.id, class_='btn btn-secondary' %}
        {% endif %}
      {% endblock action_manage %}
      {% if res.url and h.is_url(res.url) %}
        <a class="btn btn-primary resource-url-analytics" href="{{ res.url }}">
          {% if res.resource_type in ('listing', 'service') %}
            <i class="fa fa-eye"></i> {{ _("View") }}
          {% elif res.resource_type == 'api' %}
            <i class="fa fa-key"></i> {{ _("API Endpoint") }}
          {% elif not res.has_views and not res.url_type == 'upload' %}
            <i class="fa fa-external-link"></i> {{ _("Go to resource") }}
          {% else %}
            <i class="fa fa-arrow-circle-down"></i> {{ _("Download") }}
          {% endif %}
        </a>
        {% block download_resource_button %}
        {% endblock download_resource_button %}
      {% endif %}
    {% endblock resource_actions_inner %}
  </div>
{% endblock pre_primary %}

{% block resource_actions %}
{% endblock resource_actions %}
