@use "../variables" as rd;
@use "suomifi-design-tokens/dist/tokens";

.row {
  --bs-gutter-x: 0;
}

.wrapper {
  box-shadow: none;
}

.main {
  padding: 20px 0 60px 0;

  &:not(.hero) {
    background: rd.$color-background;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    box-shadow: none;
    border: none;
    border-radius: 0;
    background-color: transparent;

    &::before {
      content: none;
      border: none;
    }

    &.no-nav {
      .module {
        flex: 1 0;
      }
    }
  }

  .primary {
    flex: 1 0;
  }

  .secondary {
    flex: 0 0 auto;
  }
}

.primary {
  .module {
    .module-content {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .primary-content-container {
    &::before {
      content: none;
    }

    margin-left: 0;
    margin-right: 0;
    background-color: rd.$color-white;
    border: rd.$border-light;
    border-radius: 2px;
    padding: 20px 30px 40px 30px;
    min-height: 100%; // Extend to match when shorter than sidebar

    .module-content {
      padding: 0;
    }
  }
}

.secondary {
  &>.module {

    .module-heading {
      padding: 0 0 15px 0;
      border: none;
      background: transparent;
    }

    .module-content {
      padding: 0;

      hr {
        margin: 0;
      }
    }
  }

  h3 {
    font-size: rd.$font-size-sm;
  }

  .socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
  }

  a {
    font-weight: rd.$font-weight-bold;

    &:hover {
      text-decoration-line: underline;
    }
  }

  &.secondary-content-container {
    background-color: rd.$color-white;
    border: rd.$border-light;
    margin-right: -1px;
    padding-bottom: 40px;

    &>.module {
      padding: 20px 20px 10px 20px;
    }
  }
}

.page-heading {
  padding: 0;
  margin-bottom: 13px;
}

.page-header,
.content-header {
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0;

  .nav-tabs {
    float: none;
    background-color: rd.$color-white;
    border: rd.$border-light;
    width: 100%;
    height: fit-content;
    margin-top: 0px;

    li {
      a {
        color: rd.$color-black;
        padding: 6px 0;
        margin: 0 20px;
        border: none;
        border-radius: 0;
        transition: none;
        line-height: 27px;
        /* 150% */

        &:hover {
          border: none;
          background: transparent;
          color: tokens.$fi-color-brand-base;
          isolation: auto;
        }

        i {
          display: none;
        }
      }

      &.active a {
        background: transparent;
        border: none;
        border-bottom: 4px solid rd.$color-link-text;
        font-weight: rd.$font-weight-bold;
      }
    }
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .content_action {
    float: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10px;
    justify-content: flex-end;

    span {
      color: rd.$color-white;
      line-height: 24px;
      font-size: rd.$font-size-sm;
    }

    a+a {
      margin-left: 12px;
    }
  }
}

.page-header {
  justify-content: flex-start;
  align-content: stretch;
}

.content-header {
  justify-content: flex-end;
}

.toolbar {
  margin-bottom: 30px;

  .breadcrumb {
    @include tokens.fi-text-body-text-small;

    a {
      color: rd.$color-link-text;
    }

    .active a {
      color: rd.$color-text-secondary;
      font-weight: normal;
    }

    li:first-child {
      padding-left: 0;
    }

    li:not(:first-child)::before {
      content: ">"
    }
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.page_primary_action {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.control-required {
  color: rd.$color-text-primary;
}

.form-group {
  margin-bottom: 15px;
}

.rd-group-title {
  margin-top: 40px;
  margin-bottom: 20px;
}

.rd-group-title:first-of-type {
  margin-top: 0;
}

.rd-group-description {
  font-weight: 400;
  margin-top: -10px;
  margin-bottom: 20px;
  display: block;

  &.combi-label {
    font-weight: rd.$font-weight-bold;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.rd-group-divider {
  margin-top: 40px;
  margin-bottom: 40px;
}

.field-description-text {
  @include tokens.fi-text-body-text-small;
  margin-bottom: 10px;
}

.form-actions {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: unset;
  height: fit-content;
  justify-content: space-between;
  gap: 20px;

  div {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;

    .btn.btn-primary {
      margin-left: auto;
    }
  }

  .action-info {
    margin-top: 20px;
    margin-left: auto;
  }
}

.table {
  --bs-table-bg: #{rd.$color-background};
  --bs-table-striped-bg: #{rd.$color-white};
  --bs-table-striped-color: #{rd.$color-black};
  border-color: rd.$color-border;

  tr {
    border: rd.$border-light;
  }
  td, th {
    padding: 10px;
    border: none;
    font-size: rd.$font-size-sm;
    font-weight: rd.$font-weight-normal;
  }
  td:first-child, th:first-child {
    padding-left: 20px;
  }
  td:last-child, th:last-child {
    padding-right: 20px;
  }
}

.media-grid {
  background: none;
  padding: 0;
  border: none;

  .media-item {
    min-width: 335px;
    padding: 10px 20px;
    margin: 20px 20px 0 0;
    box-shadow: 0px 2px 4px 1px rgba(41, 41, 41, 0.20);
    border: rd.$border-light;

    .media-heading {
      font-size: rd.$font-size-lg;
      font-weight: rd.$font-weight-bold;
    }
    .media-image {
      float: left;
      width: 64px;
      margin: 0 16px 32px 0; // Bottom margin to avoid text wrapping
    }
  }
}
