@use "../variables" as rd;
@use "suomifi-design-tokens/dist/tokens";

.dataset-list {
  background: rd.$color-white;
  border: rd.$border;

  #dataset-search-form+& {
    border-top: none;
  }

  .dataset-item {
    padding: 20px;

    .dataset-content {
      .dataset-heading {
        font-size: inherit;

        a {
          color: rd.$color-link-text;
        }
      }
    }

    .dataset-resources {
      display: flex;
      justify-content: end;

      .badge {
        text-transform: uppercase;
        padding: 10px 20px;
        background: transparent;
        border-radius: 2px;
        border: 1px solid tokens.$fi-color-depth-base;
        color: tokens.$fi-color-depth-dark1;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.4px;
      }
    }
  }
}

.primary-content-container {
  .module-resource {
    margin-top: 50px;
    margin-bottom: 80px;
    border-bottom: none;
  }

  h2.additional-info {
    &+table {
      font-size: rd.$font-size-xs;

      p {
        font-size: rd.$font-size-xs;
      }
    }
  }

  .main-content {
    font-size: rd.$font-size-sm;

    section {
      margin-top: 50px;
      margin-bottom: 80px;

      h2,
      h3 {
        margin-bottom: 20px;
      }
    }

    .resource-item {
      display: flex;
      padding: 0;
      margin: 10px;
      align-items: center;
      border-top: rd.$border;
      border-radius: 0;
      font-size: rd.$font-size-sm;

      &:hover {
        background: transparent;
      }

      &:last-child {
        border-bottom: 1px solid #c8cdd0;
      }

      & .format-label {
        position: static;
        margin: 0;
      }

      & .heading {
        color: rd.$color-link-text;
        font-weight: normal;
        margin-left: 10px;
        margin-right: 20px;
      }

      &__actions {
        a {
          font-weight: rd.$font-weight-bold;
        }

        a+a {
          margin-left: 10px;
        }

        margin-left: auto;
      }
    }

    .additional-info {
      font-size: rd.$font-size-xs;

      .dataset-details,
      p {
        font-size: rd.$font-size-xs;
      }
    }
  }
}

// Stages
// Builds form stages out of an ordered list. The following CSS uses tag
// selectors on the .active class to prevent the styles bleeding into the
// anchor element which can also have an active class.
.stages {
  counter-reset: stage;
  overflow: hidden;

  :after {
    content: none;
  }

  li {
    line-height: 27px;
    counter-increment: stage;
    width: 100%;
    float: none;
    padding: 10px 0;
    background: none;

    &:before {
      content: counter(stage);
      display: inline-block;
      width: 27px;
      height: 27px;
      margin-right: 5px;
      font-weight: 700;
      text-align: center;
      color: rd.$color-text-primary;
      border: 1px solid rd.$color-text-primary;
      background: none;
      border-radius: 14px;
    }

    &.active:before,
    &.complete:before {
      color: rd.$color-white;
      background: rd.$color-success;
      border: none;
    }

    &:after {
      content: none;
      border: none;
    }

    .highlight {
      padding-left: 35px;
    }

    &.active,
    &.complete,
    &.uncomplete {
      background: none;

      .highlight {
        color: rd.$color-text-primary;
        background: none;
      }
    }

    &.active {
      .highlight {
        font-weight: rd.$font-weight-bold;
        background: none;
      }
    }

    &.last {
      right: 0;
    }

    &:not(:first-of-type)::after {
      left: 12px;
      top: -5px;
      content: " ";
      height: 10px;
      width: 1px;
      position: absolute;
      border: none;
      margin: 0;
      border-left: 1px solid #c8cdd0;
      pointer-events: none;
    }
  }
}
