@use "../variables" as rd;
@use "suomifi-design-tokens/dist/tokens";

.dataset-list {
  background: rd.$color-white;
  border: 1px solid rd.$color-border;

  #dataset-search-form+& {
    border-top: none;
  }

  .dataset-item {
    padding: 20px;

    .dataset-content {
      .dataset-heading {
        font-size: inherit;

        a {
          color: rd.$color-link-text;
        }
      }
    }

    .dataset-resources {
      display: flex;
      justify-content: end;

      .badge {
        text-transform: uppercase;
        padding: 10px 20px;
        background: transparent;
        border-radius: 2px;
        border: 1px solid tokens.$fi-color-depth-base;
        color: tokens.$fi-color-depth-dark1;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.4px;
      }
    }
  }
}

.dataset-container {
  &::before {
    content: none;
  }

  margin-left: 0;
  margin-right: 0;
  background-color: rd.$color-white;
  border: 1px solid rd.$color-border-light;
  border-radius: 2px;
  padding: 20px;

  .module-content {
    padding: 0;
  }

  .module-resource {
    margin-top: 50px;
    margin-bottom: 80px;
    border-bottom: none;
  }

  h2.additional-info {
    &+table {
      font-size: rd.$font-size-xs;

      p {
        font-size: rd.$font-size-xs;
      }
    }
  }

  .main-content {
    font-size: rd.$font-size-sm;

    section {
      margin-top: 50px;
      margin-bottom: 80px;

      h2,
      h3 {
        margin-bottom: 20px;
      }
    }

    .resource-item {
      display: flex;
      padding: 0;
      margin: 10px;
      align-items: center;
      border-top: 1px solid rd.$color-border;
      border-radius: 0;
      font-size: rd.$font-size-sm;

      &:hover {
        background: transparent;
      }

      &:last-child {
        border-bottom: 1px solid #c8cdd0;
      }

      & .format-label {
        position: static;
        margin: 0;
      }

      & .heading {
        color: rd.$color-link-text;
        font-weight: normal;
        margin-left: 10px;
        margin-right: 20px;
      }

      &__actions {
        a {
          font-weight: rd.$font-weight-bold;
        }

        a+a {
          margin-left: 10px;
        }

        margin-left: auto;
      }
    }

    .additional-info {
      font-size: rd.$font-size-xs;

      .dataset-details,
      p {
        font-size: rd.$font-size-xs;
      }
    }
  }

  .sidebar {
    padding-left: 30px;

    .module {
      margin-bottom: 50px;

      .module-heading {
        padding: 0 0 15px 0;
        border: none;
        background: transparent;
      }

      .module-content {
        padding: 0;
      }
    }

    h3 {
      font-size: rd.$font-size-sm;
    }

    .socials {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 15px;
    }

    a {
      font-weight: rd.$font-weight-bold;

      &:hover {
        text-decoration-line: underline;
      }
    }
  }
}
