@use "../variables" as rd;

footer.site-footer {
  border-top: 4px solid rd.$color-suomifi;

  background: rd.$color-white;
  padding: 0;

  .footer {
    padding: 30px 40px 50px 40px;
    font-weight: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
      max-width: 1110px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      flex-grow: 1;
      gap: 30px;
    }
  }
  .primary.footer {
    border-top: rd.$border-light;
    padding-top: 40px;
    padding-bottom: 0;

    .container {
      gap: 40px;
    }
    .suomifi-dvv {
      display: flex;
      align-items: center;

      img {
        border-right: rd.$border;
        padding: 11px 20px 11px 0;
        width: 265px;
        max-height: 80px;
      }
      span {
        padding-left: 20px;
      }
    }

    .footer-links {
      padding-bottom: 20px;

      .navbar {
        padding: 0;
        justify-content: start;
        gap: 40px;

        a {
          color: rd.$color-link-text;
        }
      }
    }
  }
  .secondary.footer {
    color: rd.$color-white;
    background: rd.$color-suomifi;
    .social-links {
      display: flex;
      padding-bottom: 25px;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 30px;
      border-bottom: 1px solid rd.$color-white;

      i {
        font-size: 24px;
        width: 24px;
        vertical-align: bottom;
      }
      a {
        white-space: nowrap;

        &:hover {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
}
