@use "../variables" as rd;

%dropdown-toggle {
  padding: 6px 12px;
  border: 1px solid transparent;
  box-shadow: none;
  display: flex;
  line-height: 24px;
  font-weight: 600;
  font-size: rd.$font-size-sm;
}

%horizontal {
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

%vertical {
  flex-direction: column;
  justify-content: space-around;
}

header.masthead {
  border-top: 4px solid rd.$color-suomifi;
  border-bottom: rd.$border;
  background: rd.$color-white;
  padding: 0 !important;

  .top {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    font-weight: rd.$font-weight-bold;
    height: 80px;
    border-radius: 2px;

    .site-title {
      display: flex;
      max-width: 265px;
      align-items: center;
      gap: 8px;
      flex: 1 0 0;

      a {
        color: rd.$color-suomifi;
        text-decoration: none;
      }
    }

    .search-bar {
      width: 350px;
      height: 40px;

      button.btn {
        >i {
          color: rd.$color-secondary;
        }
      }
    }

    .dropdown-toggle::after {
      display: none;
    }

    .btn.btn-default.dropdown-toggle {
      @extend %dropdown-toggle;

      >i.chevron-toggle::before {
        content: "\f078";
      }

      &.show {
        >i.chevron-toggle::before {
          content: "\f077";
        }
      }

      &:hover {
        background-color: transparent !important;
        border: rd.$border;
        border-radius: 2px;
      }

      >i {
        display: flex;
        color: rd.$color-link-text;
        line-height: 24px;
      }
    }

    .language-select {
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      align-content: stretch;
      height: 40px;
      max-width: 150px;

      .lang-select {
        display: flex;
        align-content: stretch;

        ul.dropdown-menu {
          padding: 0;
          min-width: 8rem;
          width: 150px;

          li {
            border-left: 6px solid transparent;
            margin: 10px 0;

            &:hover {
              border-left: 6px solid rd.$color-link-text;
            }

            &.active {
              border-left: 6px solid rd.$color-link-text;

              a {
                font-weight: rd.$font-weight-bold;
              }
            }

            & .dropdown-item {
              padding: 5px;

              &:hover {
                background-color: transparent;
              }
            }
          }
        }
      }

      .btn.btn-default.dropdown-toggle {
        @extend %horizontal;
      }
    }

    .user {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
      flex: 1 0 0;

      .account {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .username {
          font-size: rd.$font-size-sm;
          display: flex;
        }

        .logout {
          font-size: rd.$font-size-xxs;
        }
      }
    }

    .menu {
      display: flex;
      margin-left: 20px;

      #menu-dropdown {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .btn.dropdown-toggle {
      @extend %vertical;
    }
  }

  hr {
    margin: 0;
    background-color: rd.$color-border;
    color: rd.$color-border;
    opacity: 0.5;
  }

  .bottom {
    .navbar {
      padding: 0;
    }

    .main-navbar {
      justify-content: space-between;

      li {
        display: flex;

        &>a:not(.btn-link) {
          padding: 12px 5px;
          color: rd.$color-text-primary;
          background: transparent;
          border-radius: 0;
        }

        &.active>a {
          background: transparent;
        }
      }

      &.collapse.show {
        li {
          margin: 5px 0;

          &>a {
            padding: 5px;
            border-left: 6px solid transparent;

            &:hover {
              border-left: 6px solid rd.$color-link-text;
            }
          }

          &.active>a {
            font-weight: rd.$font-weight-bold;
            border-left: 6px solid rd.$color-link-text;
          }
        }
      }

      &.collapse:not(.show) {
        ul {
          gap: 50px;

          li {
            &>a {
              border-bottom: 4px solid transparent;

              &:hover {
                border-bottom: 4px solid rd.$color-link-text;
              }
            }

            &.active>a {
              border-bottom: 4px solid rd.$color-link-text;
            }
          }
        }
      }
    }
  }
}
