@use "../variables" as rd;

.secondary > .module {
  background-color: rd.$color-white;
  border: 1px solid rd.$color-border-light;
  .module-heading {
    display: none;
  }
}
.organization-list {
  background-color: rd.$color-white;
  border: 1px solid rd.$color-border-light;
  border-top: none;

  .organization-item {
    padding: 20px;
    .organization-content {
      .organization-heading {
        font-size: inherit;
        a {
          color: rd.$color-link-text;
        }
      } 
    }
  }
}

