@use "../variables" as rd;

.organization-list {
  background-color: rd.$color-white;
  border: rd.$border-light;
  border-top: none;

  .organization-item {
    padding: 20px;
    .organization-content {
      .organization-heading {
        font-size: inherit;
        a {
          color: rd.$color-link-text;
        }
      }
    }
  }
}
