@use "suomifi-design-tokens/dist/tokens";

.secondary > .module {
  background-color: tokens.$fi-color-white-base;
  border: 1px solid tokens.$fi-color-depth-light1;
  .module-heading {
    display: none;
  }
}
.organization-list {
  background: tokens.$fi-color-white-base;
  border: 1px solid tokens.$fi-color-depth-base;
  border-top: none;

  .organization-item {
    padding: 20px;
    .organization-content {
      .organization-heading {
        font-size: inherit;
        a {
          color: tokens.$fi-color-highlight-base;
        }
      } 
    }
  }
}

