# ┌───────────── minute (0 - 59)
# │ ┌───────────── hour (0 - 23)
# │ │ ┌───────────── day of month (1 - 31)
# │ │ │ ┌───────────── month (1 - 12)
# │ │ │ │ ┌───────────── day of week (0 - 6) (Sunday to Saturday;
# │ │ │ │ │                                       7 is also Sunday on some systems)
# │ │ │ │ │
# │ │ │ │ │
# * * * * *  command to execute
#
#
# NOTE: Please make sure this file is using LF line-endings, windows CRLF breaks it!
#
*/5 *   *       *   *   cd /srv/app && ./cron/scripts/harvester-run.sh
*/5 *   *       *   *   cd /srv/app && ckan api action purge_expired_temporary_memberships
*/5 *   *       *   *   cd /srv/app && ckan api action purge_expired_paha_auth_tokens

