[submodule "ckan/ckanext/ckanext-scheming"]
	path = ckan/ckanext/ckanext-scheming
	url = https://github.com/ckan/ckanext-scheming.git
[submodule "ckan/ckanext/ckanext-dcat"]
	path = ckan/ckanext/ckanext-dcat
	url = https://github.com/ckan/ckanext-dcat.git
[submodule "ckan/ckanext/ckanext-fluent"]
	path = ckan/ckanext/ckanext-fluent
	url = https://github.com/ckan/ckanext-fluent.git
[submodule "ckan/ckanext/ckanext-pages"]
	path = ckan/ckanext/ckanext-pages
	url = https://github.com/ckan/ckanext-pages
[submodule "ckan/ckanext/ckanext-markdown_editor"]
	path = ckan/ckanext/ckanext-markdown_editor
	url = https://github.com/vrk-kpa/ckanext-markdown_editor.git
[submodule "ckan/ckanext/ckanext-harvest"]
	path = ckan/ckanext/ckanext-harvest
	url = https://github.com/vrk-kpa/ckanext-harvest.git
[submodule "ckan/ckanext/ckanext-matomo"]
	path = ckan/ckanext/ckanext-matomo
	url = https://github.com/vrk-kpa/ckanext-matomo.git
[submodule "ckan/ckanext/ckanext-sentry"]
	path = ckan/ckanext/ckanext-sentry
	url = https://github.com/vrk-kpa/ckanext-sentry.git
