# Compiled translations
*.mo

# Local docker compose overrides
docker/docker-compose.override.yml

# Local environment
docker/.env

# CKAN extension unit testing configuration
ckan/ckanext/ckan

# Editor specific settings
.vscode

# Package related things
**/node_modules
.npmrc

# Built assets
**/*.css.map
assets/src/vendor

# Robot test artifacts
robot/selenium-screenshot-*.png
robot/log.html
robot/output.xml
robot/report.html
