{#
  Renders a single resource with icons and view links.

  res - A resource dict to render
  pkg - A package dict that the resource belongs to
  can_edit - Whether the user is allowed to edit the resource
  url_is_edit - Whether the link to the resource should be to editing it (set to False to make the link view the resource)
  url - URL of the resource details page(resource edit/read depending on url_is_edit, by default).

  Example:

    {% snippet "package/snippets/resource_item.html", res=resource, pkg=pkg, can_edit=True, url_is_edit=False %}

#}
{% set url_action = pkg.type ~ ('_resource.edit' if url_is_edit and can_edit else '_resource.read') %}
{% set url = url or h.url_for(url_action, id=pkg.name, resource_id=res.id) %}

<li class="resource-item" data-id="{{ res.id }}">
  {% block resource_item_format_icon %}
  <span class="resource-item__icon format-label" property="dc:format"
    data-format="{{ res.format.lower() or 'data' }}">{{ h.get_translated(res, 'format') }}</span>
  {% endblock %}
  {% block resource_item_title %}
  <a class="resource-item__title heading" href="{{ url }}" title="{{ res.name or res.description }}">
    {{ h.resource_display_name(res) | truncate(50) }}
    {{ h.popular('views', res.tracking_summary.total, min=10) if res.tracking_summary }}
  </a>
  {% endblock %}
  {% block resource_item_description %}
  {% endblock %}
  {% block resource_item_explore %}
  {% if not url_is_edit %}
  <div class="resource-item__actions">
    {% block resource_item_explore_links %}
    {% if res.has_views %}
    <a href="{{ url }}">
      {{ _('Preview') }}
    </a>
    {% endif %}
    {% if can_edit %}
    <a href="{{ h.url_for(pkg.type ~ '_resource.edit', id=pkg.name, resource_id=res.id) }}">
      {{ _('Edit') }}
    </a>
    {% endif %}
    {% if res.url and h.is_url(res.url) %}
    <a class="resource-url-analytics" href="{{ res.url }}" target="_blank" rel="noreferrer">
      {% if res.has_views or res.url_type == 'upload' %}
      {{ _('Download') }}
      {% else %}
      {{ _('Navigate') }} <i class="fasr fa-arrow-up-right-from-square"></i>
      {% endif %}
    </a>
    {% endif %}
    {% endblock %}
  </div>
  {% endif %}
  {% endblock %}
</li>
