@use "suomifi-design-tokens/dist/tokens";
@use "variables" as rd;

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  & > .main , & > .homepage {
    flex-grow: 1;
  }
}

%body-text {
  @include tokens.fi-text-body-text;

  font-feature-settings: 'clig' off, 'liga' off;
  font-style: normal;
}

body,
p {
  @extend %body-text;
}

%bold,
.bold,
b {
  font-weight: rd.$font-weight-bold;
}

%small,
.small,
small {
  font-size: rd.$font-size-sm;
}

%lead,
.lead {
  font-size: rd.$font-size-lg;
}

select.form-control,
input.form-control,
.dropdown-menu,
::placeholder {
  font-size: rd.$font-size-sm;
}

::placeholder {
  color: rd.$color-text-placeholder;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  text-rendering: optimizelegibility;
}

h1 {
  @include tokens.fi-text-heading1;
}

h1.hero {
  @include tokens.fi-text-heading1-hero;
}

h2 {
  @include tokens.fi-text-heading2;
}

h3 {
  @include tokens.fi-text-heading3;
}

h4 {
  @include tokens.fi-text-heading4;
}

h5 {
  @include tokens.fi-text-heading5;
}

a {
  color: rd.$color-link-text;

  &:hover,
  &:focus {
    color: rd.$color-link-text;
  }
}

input[type=submit],
input[type=button] {
  &.form-control {
    background: rd.$color-button-primary;
    color: rd.$color-white;
    font-size: rd.$font-size-xs;
    font-weight: rd.$font-weight-bold;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 2px;

    &:hover {
      background: rd.$color-button-primary-hover;
    }
  }
}

input[type=text].form-control {
  height: 40px;
  border-radius: 2px;

  &::placeholder {
    font-style: italic;
  }
}

.select-wrapper {
  position: relative;

  select {
    @include tokens.fi-text-body-text-small;
    background: tokens.$fi-color-white-base;
    border: 1px solid tokens.$fi-color-black-light1;
    border-radius: 2px;
    padding: 8px 30px 8px 10px;
  }

  &::after {
    font: var(--fa-font-solid);
    content: "\f0d7";
    color: rd.$color-text-secondary;
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: calc(50% - 9px);
  }
}

.form-control,
textarea {
  color: rd.$color-black;
}

.form-control[readonly] {
  color: rd.$color-text-disabled;
}

.form-control:focus {
  background: rd.$color-white;
  box-shadow: 0 0 10px rd.$color-link-text;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 8px;
  border-radius: 2px;
  height: 40px;
  width: fit-content;
  
  &.btn-primary {
    background: rd.$color-button-primary;

    &:hover {
      background: rd.$color-button-primary-hover;
    }
  }

  &.btn-secondary {
    background: transparent;

    &:hover {
      color: inherit;
      background: rd.$color-button-secondary-hover;
    }
  }
}

.simple-input .field {
  width: 100%;

  input {
    padding-right: 40px;
  }

  .btn-search {
    top: 0;
    right: 0;
    font-size: rd.$font-size-sm;
    margin-top: 0;
    height: 40px;
    width: auto;

    &>i {
      padding: 0 12px;
    }
  }
}

.link-button {
  color: rd.$color-link-text;
  border: 1px solid rd.$color-link-text;
  background: transparent;
  padding: 10px 20px;
  border-radius: 2px;
  box-shadow: none;
  display: flex;
  line-height: 20px;
  font-weight: rd.$font-weight-bold;
  letter-spacing: 0.4px;
  font-size: rd.$font-size-xs;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;

  &.borderless {
    border: 1px solid transparent;
  }

  &.external {
    &::before {
      font: var(--fa-font-sharp-regular);
      font-size: 16px;
      align-self: center;
      content: "\f08e"
    }
  }

  &:hover {
    border: 1px solid rd.$color-border;
    background: rd.$color-button-secondary-hover;
    text-decoration: none;
  }
}

::selection {
  background: rd.$color-suomifi;
  color: rd.$color-white;
  text-shadow: none;
}

.multiple-values {
  .multiple-value-group+.multiple-value-group {
    margin-top: 10px;
  }

  &+button {
    margin-top: 10px;
  }
}

.removable-input-container {
  display: flex;

  button {
    height: 40px;
  }
}

/* Required to be able to use FDT and scroll the long pages (i.e. templates) */
/* stylelint-disable-next-line selector-id-pattern */
#flDebug,
#flDebug * {
  overflow-y: auto;
}
