@use "suomifi-design-tokens/dist/tokens";
@use "variables" as rd;

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &>.main,
  &>.homepage {
    flex-grow: 1;
  }
}

%body-text {
  @include tokens.fi-text-body-text;

  font-feature-settings: 'clig' off, 'liga' off;
  font-style: normal;
}

body,
p {
  @extend %body-text;
}

%bold,
.bold,
b {
  font-weight: rd.$font-weight-bold;
}

%small,
.small,
small {
  font-size: rd.$font-size-sm;
}

%lead,
.lead {
  font-size: rd.$font-size-lg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  text-rendering: optimizelegibility;
}

h1 {
  @include tokens.fi-text-heading1;
}

h1.hero {
  @include tokens.fi-text-heading1-hero;
}

h2 {
  @include tokens.fi-text-heading2;
}

h3 {
  @include tokens.fi-text-heading3;
}

h4 {
  @include tokens.fi-text-heading4;
}

h5 {
  @include tokens.fi-text-heading5;
}

a {
  color: rd.$color-link-text;

  &:hover,
  &:focus {
    color: rd.$color-link-text;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 8px;
  border-radius: 2px;
  height: 40px;
  width: fit-content;

  &.btn-primary {
    background: rd.$color-button-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 8px;
    border-radius: 2px;
    line-height: 1.0;

    &:hover {
      background: rd.$color-button-primary-hover;
    }
  }

  &.btn-secondary {
    color: rd.$color-link-text;
    border-color: rd.$color-link-text;
    background-color: transparent;
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 8px;
    border-radius: 2px;

    &:hover {
      color: inherit;
      background: rd.$color-button-secondary-hover;
    }
  }

  &.borderless {
    border: 1px solid transparent;

    &:hover {
      border: rd.$border;
      background: rd.$color-button-secondary-hover;
    }
  }

}

.btn-link {
  color: rd.$color-link-text;
  border: 1px solid rd.$color-link-text;
  background: transparent;
  padding: 10px 20px;
  border-radius: 2px;
  box-shadow: none;
  display: flex;
  line-height: 20px;
  font-weight: rd.$font-weight-bold;
  letter-spacing: 0.4px;
  font-size: rd.$font-size-xs;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;

  &.external {
    &::before {
      font: var(--fa-font-sharp-regular);
      font-size: 16px;
      align-self: center;
      content: "\f08e"
    }
  }

  &:hover {
    border: rd.$border;
    background: rd.$color-button-secondary-hover;
    text-decoration: none;
  }
}

::selection {
  background: rd.$color-suomifi;
  color: rd.$color-white;
  text-shadow: none;
}

/* Required to be able to use FDT and scroll the long pages (i.e. templates) */
/* stylelint-disable-next-line selector-id-pattern */
#flDebug,
#flDebug * {
  overflow-y: auto;
}
