@use 'variables' as rd;

/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src:
    local(''),
    url(rd.$font-path + '/source-sans-pro-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url(rd.$font-path + '/source-sans-pro-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
    url(rd.$font-path + '/source-sans-pro-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
