@use "variables";

.icon {
  &.chevron-right {
    background-image: url(variables.$image-path + "/chevron-right.svg");
  }

  &.group {
    background-image: url(variables.$image-path + "/icon-group.svg");
  }

  &.suomifi {
    background-image: url(variables.$image-path + "/icon-suomifi.svg");
  }

  &.web-service {
    background-image: url(variables.$image-path + "/icon-web-service.svg");
  }
}
