@use "suomifi-design-tokens/dist/tokens";
@use "variables" as rd;
@use "mixins" as rd-mixins;

label,
label.checkbox {
  @include tokens.fi-text-body-semi-bold-small;

  &:after {
    content: none;
  }
}

input[type=submit],
input[type=button] {
  &.form-control {
    background: rd.$color-button-primary;
    color: rd.$color-white;
    font-size: rd.$font-size-xs;
    font-weight: rd.$font-weight-bold;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 2px;

    &:hover {
      background: rd.$color-button-primary-hover;
    }
  }
}

.form-control {
  @include tokens.fi-text-body-text-small;
  border-radius: 2px;
  border: rd.$border-dark;
  padding: 8px 0px 8px 10px;
}

input[type=text],
input[type=date],
input[type=number],
input[type=url],
select {

  &.form-control {
    @include tokens.fi-text-body-text-small;
    border-radius: 2px;
    border: rd.$border-dark;
    background: tokens.$fi-color-white-base;
    display: flex;
    height: 40px;
    padding: 8px 0px 8px 10px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    appearance: auto;
    &::placeholder {
      font-style: italic;
    }
  }

  &:focus {
    box-shadow: 0 0 10px rd.$color-link-text;
  }
}

::placeholder {
  color: rd.$color-text-placeholder !important;
  font-style: italic;
}

textarea.form-control {
  @include tokens.fi-text-body-text-small;
  border-radius: 2px;
  padding: 8px 0px 8px 10px;
}

.editor {
  textarea.form-control {
    border: rd.$border-dark;
    border-radius: 2px 2px 0 0;
    border-bottom: 0;

    &:focus {
      box-shadow: 0 0 10px rd.$color-link-text;
    }
  }

  .editor-info-block {
    border: rd.$border-dark;
    border-radius: 0 0 2px 2px;
    border-top: 0;
  }
}

.select2-drop.select2-drop-active {
  border-radius: 0 0 2px 2px;
  box-shadow: 0 0 10px rd.$color-link-text;

  .select2-search {
    input {
      @include tokens.fi-text-body-text-small;
      border-radius: 2px;
    }
  }

  .select2-result {
    .select2-result-label {
      @include tokens.fi-text-body-text-small;
    }
  }
}

.controls {
  .select2-container {
    &.form-control {
      padding: 0;
      border: none;
    }

    .select2-default {
      color: rd.$color-text-placeholder !important;
    }

    .select2-choice {
      @include tokens.fi-text-body-text-small;
      border: rd.$border-dark;
      border-radius: 2px;
      background: tokens.$fi-color-white-base;
      height: 40px;
      padding: 8px 0px 8px 10px;

      .select2-arrow {
        background: none;
        border: none;
        top: 5px;

        b {
          background: none !important;
          background-image: none !important;

          &::after {
            font: var(--fa-font-solid);
            content: "\f0d7";
            color: rd.$color-text-secondary;
          }
        }
      }
    }

    &.select2-container-multi .select2-choices {
      height: 40px !important;
      border: rd.$border-dark;
      border-radius: 2px;
      background: none;

      .select2-search-field input {
        @include tokens.fi-text-body-text-small;
        padding: 8px 0px 8px 10px;
        height: 100%;
        border-radius: 2px;
      }
    }

    &.select2-dropdown-open {
      .select2-choice {
        .select2-arrow {
          background: none;
          border: none;
          top: 5px;

          b {
            background: none !important;
            background-image: none !important;

            &::after {
              font: var(--fa-font-solid);
              content: "\f0d8";
              color: rd.$color-text-secondary;
            }
          }
        }
      }
    }
  }
}

.rd-select2-tags {
  .select2-search-choice {
    display: none;
  }

  .rd-select2-tags-container {
    margin-top: 2px;

    .suomifi-chip {
      margin-right: 8px;
      margin-bottom: 0;
    }
  }

  &.select2-container .select2-choices,
  & .select2-container .select2-choices {
    padding: 0;
  }
}

.suomifi-chip {
  @include tokens.fi-text-body-semi-bold-small;
  background-color: rd.$color-link-text;
  display: inline-flex;
  cursor: pointer;
  border-radius: 14px;
  max-width: 290px;
  padding: 2px 10px;
  align-items: center;
  gap: 8px;

  .truncate-text {
    max-width: 255px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-top: -2px;
  }

  i {
    font-size: 12px;
    padding-left: 8px;
    padding-right: 2px;
    line-height: 24px;
    cursor: pointer;
    margin-bottom: -2px;
  }
}

.select-wrapper {
  position: relative;

  select {
    @include tokens.fi-text-body-text-small;
    background: tokens.$fi-color-white-base;
    border: rd.$border-dark;
    border-radius: 2px;
    padding: 8px 30px 8px 10px;
  }

  &::after {
    font: var(--fa-font-solid);
    content: "\f0d7";
    color: rd.$color-text-secondary;
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: calc(50% - 9px);
    pointer-events: none;
  }
}

.form-control,
textarea {
  color: rd.$color-black;
}

.form-control:default,
.form-control::placeholder {
  color: rd.$color-text-placeholder;
}

.form-control[readonly] {
  color: rd.$color-text-disabled;
}

.form-control:focus {
  background: rd.$color-white;
  box-shadow: 0 0 10px rd.$color-link-text;
}

textarea.form-control:focus {
  box-shadow: 0 0 10px rd.$color-link-text;

  &~.editor-info-block {
    box-shadow: 0 2px 6px rd.$color-link-text;
  }
}

.simple-input .field {
  width: 100%;

  input {
    padding-right: 40px;
  }

  .btn-search {
    top: 0;
    right: 0;
    font-size: rd.$font-size-sm;
    margin-top: 0;
    height: 40px;
    width: auto;

    &>i {
      padding: 0 12px;
    }
  }
}

.multiple-values {
  .multiple-value-group+.multiple-value-group {
    margin-top: 10px;
  }

  &+button {
    margin-top: 10px;
  }
}

.removable-input-container {
  display: flex;

  button {
    height: 40px;
  }
}

.slug-preview-target~.slug-preview {
  width: fit-content;
  height: 40px;
  line-height: 38px;

  button.btn.btn-default {
    float: right;
    margin-left: 10px;
    color: rd.$color-link-text;
    border: 1px solid transparent;
    background: transparent;
    padding: 10px 20px;
    border-radius: 2px;
    box-shadow: none;
    display: flex;
    line-height: 20px;
    font-weight: rd.$font-weight-bold;
    letter-spacing: 0.4px;
    font-size: rd.$font-size-xs;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;

    &:hover {
      border: rd.$border;
      background: rd.$color-button-secondary-hover;
      text-decoration: none;
    }
  }
}

.resource-upload-field {

  #field-resource-url {
    width: calc(100% - 104px);
  }

  .btn-remove-url {
    @include rd-mixins.btn-link;
    @include rd-mixins.borderless;
    right: 0;
    margin-top: 10px;

    &::before {
      @include rd-mixins.delete;
    }
  }
}

.checkboxes,
.radios {
  display: flex;
  flex-wrap: wrap;


  label {
    display: flex;
    align-items: center;
    font-size: 16px;
    max-width: max-content;
    font-weight: 400;
    user-select: none;
    margin-right: 30px;


    & .custom-checkbox {
      margin-right: 8px;
      content: "";
      box-sizing: border-box;
      height: 18px;
      width: 18px;
      border: 1px solid tokens.$fi-color-depth-dark3;
      border-radius: 2px;
      background-color: rd.$color-white;
    }

    & .check {
      border: 1px solid tokens.$fi-color-depth-dark3;
      border-radius: 100%;
      margin-right: 8px;
      height: 18px;
      width: 18px;
      z-index: 5;
      transition: border .25s linear;
      display: inline-flex;
      place-content: center;
      align-self: center;

      &::before {
        display: flex;
        align-self: center;
        content: "";
        border-radius: 100%;
        height: 8px;
        width: 8px;
        transition: background .25s linear;
      }
    }

    & input[type=checkbox],
    & input[type=radio] {
      opacity: 0;
      z-index: -9999;
      width: 0;
      margin: 0;

      &:checked {
        &+.custom-checkbox {
          border-color: rd.$color-link-text;

          &::before {
            content: "\f00c";
            font: var(--fa-font-solid);
            font-weight: 900;
            font-size: 14px;
            color: rd.$color-link-text;
            display: inline-block;
            pointer-events: none;
            margin-left: 2px;
            vertical-align: text-top;
          }
        }

        &+.check {
          border-color: rd.$color-link-text;

          &::before {
            background: rd.$color-link-text;
          }
        }
      }
    }
  }
}

.input-group-text {
  @include tokens.fi-text-body-text-small;
  color: rd.$color-text-primary;
  border-color: transparent;
  background-color: rd.$color-white;
  border-radius: 2px;
  cursor: default;
  padding: 0;
  padding-right: 2px;
}

input[data-module="slug-preview-slug"] {
  border: rd.$border-dark;

  &:focus-visible {
    outline: none;
  }
}

.date-input {
  width: 180px;
  display: inline-block;

  &~.date-input {
    margin-left: 20px;
  }
}
