@use "variables" as rd;

@mixin btn-primary {
  background: rd.$color-button-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 8px;
  border: 1px solid transparent;
  border-radius: 2px;
  line-height: 1.0;

  &:hover {
    background: rd.$color-button-primary-hover;
  }
}

@mixin btn-secondary {
  color: rd.$color-link-text;
  border: rd.$border-link;
  background-color: transparent;
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 8px;
  border-radius: 2px;

  &:hover {
    color: rd.$color-link-text;
    background: rd.$color-button-secondary-hover !important;
  }

  &.show-filters,
  &.hide-filters,
  &.js-hide {
    display: none;
  }
}

@mixin external {
  font: var(--fa-font-sharp-regular);
  font-size: 16px;
  align-self: center;
  content: "\f08e"
}

@mixin delete {
  font: var(--fa-font-regular);
  font-size: 16px;
  align-self: center;
  content: "\f1f8";
}

@mixin btn-link {
  color: rd.$color-link-text;
  border: rd.$border-link;
  background: transparent;
  padding: 10px 20px;
  border-radius: 2px;
  box-shadow: none;
  display: flex;
  line-height: 20px;
  font-weight: rd.$font-weight-bold;
  letter-spacing: 0.4px;
  font-size: rd.$font-size-xs;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;

  &.external {
    &::before {
      @include external;
    }
  }

  &:hover,
  & a:hover {
    color: rd.$color-link-text;
    border: rd.$border-link;
    background: rd.$color-button-secondary-hover;
    text-decoration: none;
  }
}

@mixin borderless {
  border: 1px solid transparent;

  &:hover {
    background: rd.$color-button-secondary-hover;
  }
}
