@use "suomifi-design-tokens/dist/tokens";

// File paths for url()s
$font-path: "../../../fonts";
$image-path: "../../../images";
$vendor-path: "../../../vendor";

// Colors
$registrydata-primary: tokens.$fi-color-highlight-light3;
$registrydata-secondary: tokens.$fi-color-depth-secondary-dark1;
$suomifi-primary: tokens.$fi-color-brand-base;

// Text
$font-size-lg: 22px;
$font-size-default: 18px;
$font-size-sm: 16px;
$font-weight-bold: 600;
