{% from 'macros/form/input_block.html' import input_block %}

{%- call input_block(
    label=h.scheming_language_text(field.label),
    classes=['control-medium'],
    error=errors[field.field_name],
    is_required=h.scheming_field_required(field),
    description=field.description) -%}
    {%- set choices = [] -%}
    {%- for c in h.scheming_field_choices(field) -%}
        {%- do choices.append(
        (c.value, h.scheming_language_text_or_empty(c.label))) -%}
    {%- endfor -%}
    <fieldset class="checkboxes">
        {%- for val, label in choices -%}
        <label class="checkbox mb-3" for="field-{{ field.field_name }}-{{ val }}">
            <input id="field-{{ field.field_name }}-{{ val }}"
                    type="checkbox"
                    name="{{ field.field_name }}"
                    value="{{ val }}"
                    {% if val in data[field.field_name] %}checked{% endif %} />
                    <span class="custom-checkbox"></span>
                {{ label }}
            </label>
        {%- endfor -%}
    </fieldset>
    {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
{%- endcall -%}
