{% from 'macros/form/input.html' import input %}

{% asset "registrydata/rd-select2-tags-js" %}

{% set languages = h.fluent_form_languages(field, entity_type, object_type, schema) %}

{% set attrs = field.form_attrs if 'form_attrs' in field else {} %}

<div class="form-group-fluent">
  {%- for lang in languages -%}
    {% if loop.first and field.description and field.description.strip() %}
      {% set description = field.description %}
    {% endif %}

    {% set attrs_with_locale = h.add_locale_to_source(attrs, lang) %}

    {% call input(
    field.field_name + '-' + lang,
    id='field-' + field.field_name + '-' + lang,
    label=_(field.label) + ' ' + _(lang|upper),
    placeholder=h.scheming_language_text(field.form_placeholder),
    value=data[field.field_name + '-' + lang]
    or ','.join(data.get(field.field_name, {}).get(lang, [])),
    error=errors[field.field_name],
    classes=['control-full', 'label-on-top', 'rd-select2-tags'],
    attrs=attrs_with_locale,
    is_required=lang in field.required_languages,
    description=description
    ) %}
    {%- snippet 'scheming/form_snippets/fluent_help_text.html',
    field=field,
    lang=lang -%}
    {% endcall %}
  {%- endfor -%}
</div>
