{% import 'scheming/macros/form.html' as form %}

<div class="form-group-fluent control-group">
  {%- for lang in h.fluent_form_languages(field, entity_type, object_type, schema) -%}
    {% if loop.first and field.description and field.description.strip() %}
      {% set description = field.description %}
    {% endif %}
    {% call form.markdown(
      field.field_name + '-' + lang,
      id='field-' + field.field_name + '-' + lang,
      label=_(field.label) + ' ' + _(lang|upper),
      placeholder=h.scheming_language_text(field.form_placeholder, lang),
      value=data[field.field_name + '-' + lang]
      or data.get(field.field_name, {})[lang],
      error=errors[field.field_name + '-' + lang]
      or errors.get(field.field_name, {})[lang]
      or errors[field.field_name],
      attrs=field.form_attrs or {},
      classes=['no-editor-info', 'label-on-top'],
      is_required=lang in field.required_languages,
      description=description
      ) %}
      {%- snippet 'scheming/form_snippets/fluent_help_text.html',
        field=field,
        lang=lang -%}
    {% endcall %}
  {%- endfor -%}
</div>
