{% ckan_extends %}

{% block heading %}
<h1 class="heading">
  {% set title = h.get_translated(group, 'title') %}
  {{ title }}
  {% if group.state == 'deleted' %}
    [{{ _('Deleted') }}]
  {% endif %}
</h1>
{% endblock %}

{% block description %}
{% set description = h.get_translated(group, 'description') %}
{% if description %}
  <p class="description">
    {{ h.markdown_extract(description, 180) }}
  </p>
  <p class="read-more">
    {% link_for _('read more'), named_route='group.about', id=group.name %}
  </p>
{% endif %}
{% endblock %}
