{% ckan_extends %}

{% block secondary_content %}
  {{ super () }}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-lg fa-info-circle"></i>
      {{ _('What are roles?') }}
    </h2>
    <div class="module-content">
      {% trans %}
        <p><strong>Admin:</strong> Can add/edit and delete datasets, as well as
          manage organization members.</p>
        <p><strong>Editor:</strong> Can add and edit datasets, but not manage
          organization members.</p>
      {% endtrans %}
    </div>
  </div>
{% endblock %}
