{% ckan_extends %}

{% block primary_content_inner %}
  <h2 class="hide-heading">{{ h.humanize_entity_type('group', default_group_type, 'page title') or _('Groups') }}</h2>

    {%- set schema = h.scheming_get_dataset_schema('dataset') -%}

    {%- set category_field = h.scheming_field_by_name(schema.dataset_fields, 'groups') -%}
    {%- set choices = [] -%}

    {%- for c in h.scheming_field_choices(category_field) -%}
    {%- do choices.append(
      (c.value, h.scheming_language_text_or_empty(c.label))) -%}
    {%- endfor -%}

    {% if choices %}
    <form class="add-to-group" method="post">
      {{ h.csrf_input() }}

      <label for="field-add_group">{{_('Groups')}}</label>
      <fieldset class="checkboxes" id="field-add_group">
        {% set selected_groups =  c.pkg_dict.groups | map(attribute='name') |join(', ') %}
        {% for val, label in choices %}
        <label class="ytp-checkbox mb-3 mr-4" for="field-{{ val }}">
          <input id="field-{{ val }}" type="checkbox" name="groups" value="{{val}}" {% if val in selected_groups %} checked {% endif %}>
          <span class="custom-checkbox"></span>
          {{ label }}
        </label>
        {% endfor %}
      </fieldset>

      <button type="submit" class="btn btn-primary" title="{{ _('Associate these groups with this dataset') }}">{{ _('Save') }}</button>
    </form>
  {% endif %}

  {% if pkg_dict.groups %}
    <form method="post">
      {{ h.csrf_input() }}
      {% set translated_groups = h.get_translated_groups(pkg_dict.groups) %}
      {% set allow_group_delete = h.check_access('package_update', {'id': pkg.id }) %}
      {% snippet 'group/snippets/group_list.html', groups=translated_groups, allow_delete=allow_group_delete %}
    </form>
  {% else %}
    <p class="empty">{{ h.humanize_entity_type('group', default_group_type, 'no associated label') or _('There are no groups associated with this dataset') }}</p>
  {% endif %}
{% endblock %}
