{% set url = h.url_for(organization.type ~ '.read', id=organization.name) %}
{% block item %}
<li class="organization-item">
  {% block item_inner %}
  <div class="organization-content">
    {% block title %}
      <h2 class="organization-heading">
        <a href="{{ url }}" title="{{ _('View {organization_name}').format(organization_name=organization.display_name) }}">{{ organization.display_name }}</a>
      </h2>
    {% endblock %}
    {% block description %}
      {% if organization.description %}
        <p class="organization-description">{{ h.markdown_extract(organization.description, extract_length=80) }}</p>
      {% endif %}
    {% endblock %}
    {% block datasets %}
      {% if organization.package_count %}
        <strong class="count">{{ ungettext('{num} Dataset', '{num} Datasets', organization.package_count).format(num=organization.package_count) }}</strong>
      {% else %}
        <span class="count">{{ _('0 Datasets') }}</span>
      {% endif %}
    {% endblock %}
    {% block capacity %}
      {% if show_capacity and organization.capacity %}
      <p><span class="label label-default">{{ h.roles_translated().get(organization.capacity, organization.capacity) }}</span></p>
      {% endif %}
    {% endblock %}
  </div>
  {% endblock %}
</li>
{% endblock %}
