<footer class="site-footer">
  <div class="primary footer">
    <div class="container">
      <div class="suomifi-dvv">
        <img src="/images/suomifi-logo-horizontal.svg">
        <span>Verkkopalvelun kehittämisestä vastaa<br>Digi- ja väestötietovirasto</span>
      </div>
      <div class="footer-links">
        <ul class="nav navbar footer-nav">
					{{ h.build_nav_main() }}
				</ul>
      </div>
    </div>
  </div>
  <div class="secondary footer">
    <div class="container">
      <div class="social-links">
        <a><i class="fa-brands fa-square-facebook"></i> @Suomifiyritykselle</a>
        <a><i class="fa-brands fa-x-twitter"></i> @Suomifiyritys</a>
      </div>
      <div class="attribution">
        <a><img src="/images/youreurope-logo.svg" alt="Your Europe"></a>
      </div>
    </div>
</footer>
