name: CI/CD

on:
  schedule:
    - cron: "0 6 * * *"
  pull_request:
  workflow_dispatch:
  workflow_call:
    outputs:
      ckan:
        description: "Change in ckan container"
        value: ${{ jobs.detect-changes.outputs.ckan }}
      nginx:
        description: "Change in nginx container"
        value: ${{ jobs.detect-changes.outputs.nginx }}
      solr:
        description: "Change in solr container"
        value: ${{ jobs.detect-changes.outputs.solr }}
      environment:
        description: "Changes in docker environment"
        value: ${{ jobs.detect-changes.outputs.environment }}
      assets:
        description: "Change in assets"
        value: ${{ jobs.detect-changes.outputs.assets }}

jobs:
  detect-changes:
    uses: ./.github/workflows/changes.yml

  build-containers:
    needs:
      - detect-changes
    name: Build Containers
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        include:
          - dockerfile: ./docker/solr/Dockerfile
            context: ./docker/solr
            submodules: ""
            build-frontend: false
            name: solr
            build-container: ${{ needs.detect-changes.outputs.solr == 'true' }}
          - dockerfile: ./docker/nginx/Dockerfile
            context: ./docker/nginx
            submodules: ""
            build-frontend: false
            name: nginx
            build-container: ${{ needs.detect-changes.outputs.nginx == 'true' }}
          - dockerfile: ./ckan/Dockerfile
            context: ./ckan
            submodules: recursive
            build-frontend: true
            name: ckan
            build-container: ${{ (needs.detect-changes.outputs.ckan == 'true') || (needs.detect-changes.outputs.assets == 'true') }}

    steps:
      - name: checkout
        if: ${{ matrix.build-container == true }}
        uses: actions/checkout@v3
        with:
          submodules: ${{ matrix.submodules }}

      - name: setup docker buildx
        if: ${{ matrix.build-container == true }}
        uses: docker/setup-buildx-action@v2

      - name: configure NPM credentials
        if: ${{ matrix.build-frontend == true && matrix.build-container == true }}
        run: |
          cat <<EOT >> .npmrc
          @fortawesome:registry=https://npm.fontawesome.com/
          //npm.fontawesome.com/:_authToken=$NPM_TOKEN
          EOT
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: install nodejs v20
        if: ${{ matrix.build-frontend == true && matrix.build-container == true }}
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'

      - name: cache node_modules
        uses: actions/cache@v3
        id: cache-node_modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-node_v20-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-node_v20-

      - name: install npm packages
        if: ${{ matrix.build-frontend == true && matrix.build-container == true && steps.cache-node_modules.outputs.cache-hit != 'true' }}
        run: npm ci

      - name: build frontend with gulp
        if: ${{ matrix.build-frontend == true && matrix.build-container == true }}
        run: npx gulp

      - name: build images
        if: ${{ matrix.build-container == true }}
        uses: docker/build-push-action@v4
        with:
          context: ${{ matrix.context }}
          file: ${{ matrix.dockerfile }}
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
          outputs: type=docker,dest=/tmp/${{ matrix.name }}.tar
          tags: ${{ env.REPOSITORY }}/${{ env.REGISTRY }}/${{ matrix.name }}:latest
        env:
          REGISTRY: ${{ secrets.REGISTRY }}
          REPOSITORY: ${{ vars.REPOSITORY }}
  test:
    name: Test registrydata extensions
    runs-on: ubuntu-latest
    needs:
      - detect-changes
    if: ${{ needs.detect-changes.outputs.ckan == 'true' }}
    container:
      image: ckan/ckan-dev:2.10.1
    services:
      solr:
        image: ckan/ckan-solr:2.10-solr9
      postgres:
        image: postgres:12
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
      redis:
        image: redis:3
    env:
      CKAN_SQLALCHEMY_URL: postgresql://ckan_default:pass@postgres/ckan_test
      CKAN_DATASTORE_WRITE_URL: postgresql://datastore_write:pass@postgres/datastore_test
      CKAN_DATASTORE_READ_URL: postgresql://datastore_read:pass@postgres/datastore_test
      CKAN_SOLR_URL: http://solr:8983/solr/ckan
      CKAN_REDIS_URL: redis://redis:6379/1
      PGPASSWORD: postgres

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - name: Create Database
      run: |
        psql --host=postgres --username=postgres --command="CREATE USER ckan_default WITH PASSWORD 'pass' NOSUPERUSER NOCREATEDB NOCREATEROLE;"
        createdb --encoding=utf-8 --host=postgres --username=postgres --owner=ckan_default ckan_test
        psql --host=postgres --username=postgres --command="CREATE USER datastore_write WITH PASSWORD 'pass' NOSUPERUSER NOCREATEDB NOCREATEROLE;"
        psql --host=postgres --username=postgres --command="CREATE USER datastore_read WITH PASSWORD 'pass' NOSUPERUSER NOCREATEDB NOCREATEROLE;"
        createdb --encoding=utf-8 --host=postgres --username=postgres --owner=datastore_write datastore_test
    - name: Install requirements
      run: |
        apk add proj proj-dev proj-util geos
        cd ckan/ckanext/ckanext-registrydata
        pip install -r dev-requirements.txt
        pip install -r requirements.txt
        pip install -e .
        # Replace default path to CKAN core config file with the one on the container
        sed -i -e 's/use = config:.*/use = config:\/srv\/app\/src\/ckan\/test-core.ini/' test.ini
        cd ../ckanext-scheming
        pip install -e .
        cd ../ckanext-fluent
        pip install -r requirements.txt
        pip install -e .
        cd ../ckanext-dcat
        pip install -r requirements.txt
        pip install -e .
        cd ../ckanext-pages
        pip install -r requirements.txt
        pip install -e .
        cd ../ckanext-markdown_editor
        pip install -r requirements.txt
        pip install -e .
    - name: Run tests
      run: |
        pytest --ckan-ini=ckan/ckanext/ckanext-registrydata/test.ini --cov=ckanext.registrydata --disable-warnings ckan/ckanext/ckanext-registrydata/ckanext/registrydata/tests
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v3
      with:
        flags: ckan

  test-cdk:
    name: test-cdk
    runs-on: ubuntu-latest
    timeout-minutes: 15
    concurrency:
      group: ${{ github.ref }}/test-cdk
      cancel-in-progress: true
    permissions:
      id-token: write
      contents: read
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: install nodejs v20
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: cache node_modules
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node_cdk_v20-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node_cdk_v20-

      - name: install cdk npm packages and verify installation
        working-directory: cdk
        run: |
          npm install
          npx cdk doctor

      - name: build cdk project
        working-directory: cdk
        run: |
          npm run build

      - name: test cdk project
        working-directory: cdk
        run: |
          npm run test

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        with:
          flags: cdk

