{% ckan_extends %}

{% block styles %}
  {{ super() }}
  {% asset "restricteddata/css" %}
  <link rel="stylesheet" href="/fonts/fonts.css" />
  <link rel="stylesheet" href="/vendor/fontawesome/css/all.css" />
{% endblock styles %}

{% block links -%}
<link rel="icon" href="/images/favicon.ico" sizes="32x32">
<link rel="icon" href="/images/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
<link rel="manifest" href="/images/manifest.webmanifest">
{% endblock %}
